body {
    background-color: darkgrey;
}

.navbar {
    background-color: grey;
    border-color: dodgerblue;
    border-width: 2px;
    border-radius: 10px;
}

.navbar-collapse {
    border-width: 0px;
}

a {
    color: white !important;
}

a:hover {
    color: skyblue !important;
}

.alreadyhere {
	color: skyblue !important;
}

.request-row {
    color: white;
    margin-top: 20px;
    background-color: grey;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    padding: 10px;
} 

.form-container {
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
}

@media (min-width: 440px){
    .form-container {
        max-width: 440px;  
    }  
}

h1 {
    color: white;
    margin-top: 100px;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}