body {
    background-color: darkgrey;
}

.navbar {
    background-color: grey;
    border-color: dodgerblue;
    border-width: 2px;
    border-radius: 10px;
}

.form-container {
    background-color: grey;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border: 2px solid dodgerblue;
    border-radius: 10px;
}


@media (min-width: 440px){
    .form-container {
        max-width: 440px;  
    }  
}

h1 {
    color: white;
    margin-top: 100px;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: black;
    text-align: center; 
    background-color: darkgrey;
    padding: 30px;
    border-radius: 10px;
}

#mybut {
    color: white;
    text-align: center;
    text-decoration: none;
}

#mybut:hover {
    color: skyblue;
    text-decoration: none;
}

#submitbut:hover {
    background: skyblue;
}

a {
    color: white !important;
}

a:hover {
    color: skyblue !important;
}

.alreadyhere {
	color: skyblue !important;
}